<div class="regContent">
  <form class="regItems mat-elevation-z8" [formGroup]="loginForm" (ngSubmit)="login()">

    <!-- Email -->
    <mat-form-field class="fields">
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="fields">
      <input matInput placeholder="Password" type="password" formControlName="password" required>
      <mat-error *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine">{{getErrorMessagePass()}}</mat-error>
    </mat-form-field>

    <!-- Submit -->
    <mat-error *ngIf="error">{{error}}</mat-error>
    <mat-list-item>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid" class="colorButton">Sign In</button>
    </mat-list-item>
  </form>
</div>
