<mat-grid-list [cols]="cols" [rowHeight]="rowHeight">

    <mat-grid-tile class="content" [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color">
      <h3>{{tiles[0].text}}</h3> rows: {{tiles[0].rows}}; cols: {{tiles[0].cols}}; color :{{tiles[0].color}}
    </mat-grid-tile>

    <mat-grid-tile class="content" [colspan]="tiles[1].cols" [rowspan]="tiles[1].rows" [style.background]="tiles[1].color">
      <h3>{{tiles[1].text}}</h3> rows: {{tiles[1].rows}}; cols: {{tiles[1].cols}}; color :{{tiles[1].color}}
    </mat-grid-tile>

    <mat-grid-tile class="content" [colspan]="tiles[2].cols" [rowspan]="tiles[2].rows" [style.background]="tiles[2].color">
      <h3>{{tiles[2].text}}</h3> rows: {{tiles[2].rows}}; cols: {{tiles[2].cols}}; color :{{tiles[2].color}}
    </mat-grid-tile>

    <mat-grid-tile class="content" [colspan]="tiles[3].cols" [rowspan]="tiles[3].rows" [style.background]="tiles[3].color">
      <h3>{{tiles[3].text}}</h3> rows: {{tiles[3].rows}}; cols: {{tiles[3].cols}}; color :{{tiles[3].color}}
    </mat-grid-tile>

    <mat-grid-tile class="content" [colspan]="tiles[4].cols" [rowspan]="tiles[4].rows" [style.background]="tiles[4].color">
      <h3>{{tiles[4].text}}</h3> rows: {{tiles[4].rows}}; cols: {{tiles[4].cols}}; color :{{tiles[4].color}}
    </mat-grid-tile>

    <mat-grid-tile class="content" [colspan]="tiles[5].cols" [rowspan]="tiles[5].rows" [style.background]="tiles[5].color">
      <h3>{{tiles[5].text}}</h3> rows: {{tiles[5].rows}}; cols: {{tiles[5].cols}}; color :{{tiles[5].color}}
    </mat-grid-tile>

    <mat-grid-tile class="content" [colspan]="tiles[6].cols" [rowspan]="tiles[6].rows" [style.background]="tiles[6].color">
      <h3>{{tiles[6].text}}</h3> rows: {{tiles[6].rows}}; cols: {{tiles[6].cols}}; color :{{tiles[6].color}}
    </mat-grid-tile>

    <mat-grid-tile class="content" [colspan]="tiles[7].cols" [rowspan]="tiles[7].rows" [style.background]="tiles[7].color">
      <h3>{{tiles[7].text}}</h3> rows: {{tiles[7].rows}}; cols: {{tiles[7].cols}}; color :{{tiles[7].color}}
    </mat-grid-tile>

    <!-- <mat-grid-tile [colspan]="tiles[8].cols" [rowspan]="tiles[8].rows" [style.background]="tiles[8].color">
    <h3>{{tiles[8].text}}</h3> rows: {{tiles[8].rows}}; cols: {{tiles[8].cols}}; color :{{tiles[8].color}}
  </mat-grid-tile> -->

    <!-- <mat-grid-tile [colspan]="tiles[9].cols" [rowspan]="tiles[9].rows" [style.background]="tiles[9].color">
    <h3>{{tiles[9].text}}</h3> rows: {{tiles[9].rows}}; cols: {{tiles[9].cols}}; color :{{tiles[9].color}}
  </mat-grid-tile> -->

</mat-grid-list>
<!-- <mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list> -->

<!-- <div class="something-semantic">
  <div class="something-else-semantic">
    Unknown stuff to be centered.
  </div>
</div> -->
