.container {
  display: block;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (min-width: 958px) {
  .container {
    width: 60%;
    margin-left: 20%;
  }
}
.user-name {
  font-size: 200%;
  font-weight: 700;
}

.user-email {
  font-size: 150%;
  font-weight: 700;
  font-style: italic;
}

.user-role {
  font-size: 120%;
}
