<div class="menu" style="height: 89vh">

  <mat-toolbar color="primary">

    <span>Logo</span>
    <span class="fill-remaining-space"></span>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->

      <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a *ngIf="isAuth()" [routerLink]="['/tickets']" routerLinkActive="active">Tickets</a>
      <a *ngIf="!isAuth()" [routerLink]="['/register']" routerLinkActive="active">Register</a>
      <a *ngIf="!isAuth()" [routerLink]="['/login']" routerLinkActive="active">Login</a>
      <a *ngIf="isAuth()" [routerLink]="['/']" (click)="logout()">Logout</a>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">

      <a (click)="sidenav.toggle()">
        <mat-icon svgIcon="hamburger"></mat-icon>
      </a>

    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column">

      <div fxLayout="column">

        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>

        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a *ngIf="isAuth()" [routerLink]="['/tickets']" routerLinkActive="active">Tickets</a>
        <a *ngIf="!isAuth()" [routerLink]="['/register']" routerLinkActive="active">Register</a>
        <a *ngIf="!isAuth()" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        <a *ngIf="isAuth()" [routerLink]="['/']" (click)="logout()">Logout</a>

      </div>

    </mat-sidenav>


    <!-- Main content inside tags below because of responsive navbar -->
    <mat-sidenav-content fxFlexFill>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
