<div class="menu" style="height: 89vh">
  <mat-toolbar color="primary">
    <a class="logo" [routerLink]="['/home']" routerLinkActive="active">
      <mat-icon svgIcon="logo"></mat-icon>
      DRT-
      <p>ticketing system</p>
    </a>

    <span class="fill-remaining-space"></span>
    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->

      <!-- <a [routerLink]="['/home']" routerLinkActive="active">Home</a> -->
      <a *ngIf="isAuth" [routerLink]="['/tickets']" routerLinkActive="active">Tickets</a>
      <a *ngIf="isAuth" [routerLink]="['/teams']" routerLinkActive="active">My Teams</a>
      <a *ngIf="isAuth" [routerLink]="['/teams/create']" routerLinkActive="active">Create a Team</a>
      <a *ngIf="!isAuth" [routerLink]="['/register']" routerLinkActive="active">
        <mat-icon svgIcon="register"></mat-icon>
        Register</a>
      <a *ngIf="!isAuth" [routerLink]="['/login']" routerLinkActive="active">
        <mat-icon svgIcon="login"></mat-icon>
        Login</a>
      <a class="user" *ngIf="isAuth" [routerLink]=routerLink routerLinkActive="active">
          <mat-icon svgIcon="profile"></mat-icon>
          <p>{{loggedUser?.email}}</p></a>
      <a *ngIf="isAuth" [routerLink]="['/']" (click)="logout()">
        <mat-icon svgIcon="logout"></mat-icon>
        Logout</a>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <a class="hammenu" (click)="sidenav.toggle()">
        <mat-icon svgIcon="menu"></mat-icon>
      </a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav class="sideColumnColor" #sidenav fxLayout="column">
      <div fxLayout="column">
        <a class="close" (click)="sidenav.toggle()" href="#" mat-button>Close</a>

        <div class="func">

          <!-- <a [routerLink]="['/home']" routerLinkActive="active">Home</a> -->
          <a *ngIf="isAuth" [routerLink]="['/tickets']" routerLinkActive="active">Tickets</a>
          <a *ngIf="isAuth" [routerLink]="['/teams']" routerLinkActive="active">My Teams</a>
          <a *ngIf="isAuth" [routerLink]="['/teams/create']" routerLinkActive="active">Create a Team</a>
          <a *ngIf="!isAuth" [routerLink]="['/register']" routerLinkActive="active">
            <mat-icon svgIcon="register"></mat-icon>
            Register</a>
            <a *ngIf="!isAuth" [routerLink]="['/login']" routerLinkActive="active">
              <mat-icon svgIcon="login"></mat-icon>
              Login</a>
            </div>

            <div class="profileLogout">
              <a class="user" *ngIf="isAuth" [routerLink]=routerLink routerLinkActive="active">
                <mat-icon svgIcon="profile"></mat-icon>
                <p>{{loggedUser?.email}}</p>
              </a>
              <a *ngIf="isAuth" [routerLink]="['/']" (click)="logout()">
                <mat-icon svgIcon="logout"></mat-icon>
                Logout</a>
              </div>
      </div>
    </mat-sidenav>

    <!-- Main content inside tags below because of responsive navbar -->
    <mat-sidenav-content class="mat-nav-content" fxFlexFill>

      <router-outlet></router-outlet>
      <!-- <button (click)="testAuth()">Auth</button> -->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
