.menu a {
  text-decoration: none;
  background-color: rgba(128, 0, 128, 0.699);
  border: solid 1px;
  border-radius: 3px;
  padding: 8px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.menu {
  width: 100%;
  background-color: purple;
  align-content: center;
}

.menu a:hover {
  border: solid 1px;
  border-color: purple;
  background-color: white;
  color: purple;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-sidenav-container {
  background-color: rgba(0, 195, 255, 0.534);
}

.mat-sidenav-content {
  background-color: #bfd2bf;
}

.mat-toolbar {
  background-color: #395b50;
  /* background-color: #9faf90; */
}
/*
.blank-grow {
  flex: 1 1 auto;
} */


/* start designing */

