.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tableContainer {
  flex-direction: row;
  max-width: 100%;

  width: 80%;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.wrapMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 20px;
  width: 50%;
}

.colorButton {
  background-color: #88ca88de;
}

mat-form-field {
  padding: 5px;
}

.mat-column-description {
  flex: 0 0 300px;
}
.mat-column-requester {
  flex: 0 0 160px;
}
.mat-column-assignee {
  flex: 0 0 200px;
}
