<!--The content below is only a placeholder and can be replaced.-->
<!--
<mat-grid-list cols="12" rowHeight="16:9" gutterSize="0">

  <mat-grid-tile [colspan]="12" [rowspan]="1" [style.background]="tile.color">
    <app-nav-field></app-nav-field>
  </mat-grid-tile>


  <mat-grid-tile class="height: 90%;" class="mat-grid-tile-content" [colspan]="12" [rowspan]="1" [style.background]="tile.color1">
    <router-outlet></router-outlet>
    <button (click)="testAuth()">Auth</button>
    <h1 style="display: block;">BAHTI</h1>

    <button (click)="testAuth()">Auth</button>
    <app-messages></app-messages>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="12" [rowspan]="1" [style.background]="tile.color2">
    <app-nav-field></app-nav-field>
  </mat-grid-tile> -->
<!-- </mat-grid-list> -->


  <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch" class="row-example">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div> -->

    <!-- <div fxLayout="column" fxLayoutAlign="center stretch" class="column-example">
        <div><app-nav-field></app-nav-field></div>
        <div>2
            <router-outlet></router-outlet>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
            <h1>BAHTI</h1>
        </div>
        <div>3</div>
      </div> -->
<!-- <router-outlet></router-outlet> -->

<button (click)="testAuth()">Auth</button>
<app-messages></app-messages>
