<div class="regContent">
  <form class="regItems mat-elevation-z8" [formGroup]="regForm" (ngSubmit)="register()">
    <!-- First Name | Last Name -->

    <div class="names">
      <mat-form-field class="fields">
        <input matInput #inputFirst maxlength="20" placeholder="First Name" formControlName="firstName" required>
        <mat-hint align="end">{{inputFirst.value?.length || 0}}/20</mat-hint>
        <mat-error *ngIf="regForm.controls['firstName'].errors && !regForm.controls['firstName'].pristine">{{getErrorMessageNames()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="fields">
        <input matInput #inputLast maxlength="20" placeholder="Last Name" formControlName="lastName" required>
        <mat-hint align="end">{{inputLast.value?.length || 0}}/20</mat-hint>
        <mat-error *ngIf="regForm.controls['lastName'].errors && !regForm.controls['lastName'].pristine">{{getErrorMessageNames2()}}</mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="fields">
        <input matInput placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="regForm.controls['email'].errors && !regForm.controls['email'].pristine">{{getErrorMessageEmail()}}</mat-error>

      </mat-form-field>
    </div>


      <!-- Password & Confirmation -->
    <div mat-list-item class="passAndconf">
      <mat-form-field class="fields">
        <input matInput placeholder="Password" type="password" formControlName="password" required>
        <mat-error *ngIf="regForm.controls['password'].errors && !regForm.controls['password'].pristine">{{getErrorMessagePass()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="fields">
        <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" required>
        <mat-error *ngIf="regForm.controls['confirmPassword'].errors && !regForm.controls['confirmPassword'].pristine">{{getErrorMessagePass2()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Company -->
    <div mat-list-item class="companyAndRole">
      <mat-select class="spaceBetween" placeholder="Company" formControlName="company" required>
        <mat-option *ngFor="let company of companies" [value]="company?.id">{{company?.name}}</mat-option>
      </mat-select>

      <!-- Roles -->
      <mat-select class="spaceBetween" placeholder="Role" formControlName="role" required>
        <mat-option *ngFor="let role of roles" [value]="role?.id">{{role?.name}}</mat-option>
      </mat-select>
    </div>


    <div>
      <label class="container">
        <input class="" type="checkbox" formControlName="terms" required> Terms of use & conditions
        <span class="checkmark"></span>
        <mat-error *ngIf="regForm.controls['terms'].errors || regForm.controls['terms'].pristine">{{getErrorMessageTerms()}}</mat-error>
      </label>
    </div>

    <!-- Submit -->
    <mat-error *ngIf="error">{{error}}</mat-error>
    <mat-list-item>
      <button mat-raised-button color="primary" [disabled]="!regForm.valid" class="colorButton">Sign Up</button>
    </mat-list-item>

  </form>
</div>
