.team-card {
  width: 100%;
  /* text-align: center; */
}

.mat-card-header {
  width: 100%;
  border-bottom: solid 1px gray;
}

.team-members {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.mat-card-content {
  padding-top: 2px;
}

.teamname {
  width: 40%;
}

.bold{
  font-weight: bold;
}

.team-card:hover {
  background-color: rgba(241, 241, 241, 0.801);
  cursor: pointer;
}

.team-name {
  font-weight: bolder;
  font-size: 120%;
}

.team-leader {
  font-weight: bold;
  font-size: 110%;
}


