<mat-card class="team-card">
  <mat-card-header>
    <div class="teamname">
      <mat-card-title class="team-name">Team: {{team?.name}}</mat-card-title>
      <mat-card-subtitle class="team-company">Company: {{team.Company?.name}}</mat-card-subtitle>
      <mat-card-subtitle class="team-leader">Team Leader: {{team.teamLeaderId?.firstName}} {{team.teamLeaderId?.lastName}}</mat-card-subtitle>
    </div>

    <a class="team-description">
        Description: {{team?.description}}
    </a>
  </mat-card-header>

  <mat-card-content>
    <a class="bold">Members:</a>
      <p class="team-members">
          <span *ngFor="let member of team.Users">
            <span>{{member?.firstName[0]}}.{{member?.lastName}}, </span>
          </span>
        </p>
  </mat-card-content>
</mat-card>
