.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container1 {
  display: flex;
  width: 85%;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: row-reverse;
  padding: 15px;
}

.container2 {
  display: flex;
  width: 55%;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
  padding: 15px;
}

.container3 {
  display: flex;
  width: 80%;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: row-reverse;
  padding: 15px;
}

.example-card {
  max-width: 400px;
  background-color: transparent;
}

.example-card:hover {
  background-color: rgba(57, 91, 80, 0.2);
}

.dashboardCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.welcome-msg {
  font-size: 35px;
  font-family: 'Gloria Hallelujah', cursive;
}

.example-header-image {
  width: 90px;
  height: 90px;
}

.imgIcon {
  width: 80px;
  height: 80px;
}

.count {
  font-size: 56px;
  font-family: 'Orbitron', sans-serif;
}

.down {
  width: 250px;
}

.text {
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
}

.colorButton {
  width: 100%;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  background-color: #395b50;
  /* background-color: #728f72b3; */
}

.colorButton:hover {
  background-color: #395b50cb;
  /* background-color: #728f72b3; */
}

.colorButton:hover {
  background-color: #395b50cb;
  /* background-color: #728f72b3; */
}
