<mat-grid-list [cols]="columnNum" [rowHeight]="rowHeightRatio">
  <div class="container">
    <div class="wrapMenu">
      <button class="colorButton" mat-raised-button color="primary" (click)="chooseMyTickets()">Requested</button>
      <button class="colorButton" mat-raised-button color="primary" (click)="chooseAssTickets()">Assigned</button>
    </div>

    <div class="example-container mat-elevation-z8 tableContainer">
      <div class="example-header tableHeader">
        <mat-form-field fxFlex="60%">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by keywords">
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <mat-select (change)="onChange(tickets)" [(ngModel)]="sortOrder" placeholder="Select Order">
            <mat-option value="asc">Ascending</mat-option>
            <mat-option value="desc">Descending</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="20%">
          <mat-select (change)="onChange(tickets)" [(ngModel)]="criteria" placeholder="Select Type">
            <mat-option value="deadline">Deadline</mat-option>
            <mat-option value="Label">Label</mat-option>
            <mat-option value="Status">Status</mat-option>
            <mat-option value="requesterId">Requester</mat-option>
            <mat-option value="assigneeId">Assignee</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="nav(element.id)"> {{element?.description | ellipsis}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container  matColumnDef="requester">
          <mat-header-cell *matHeaderCellDef> Requester </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="nav(element.id)"> {{element.requester}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="assignee">
          <mat-header-cell *matHeaderCellDef> Assignee </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="nav(element.id)"> {{element.assignee}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element" [statusColor]="element?.status" (click)="nav(element.id)"> {{element.status}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="label">
          <mat-header-cell *matHeaderCellDef> Label </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="nav(element.id)"> {{element.label}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deadline">
          <mat-header-cell *matHeaderCellDef> Deadline </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="nav(element.id)"> {{element.deadline | deadline}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="rowColor" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>

  <!-- </mat-grid-tile> -->
</mat-grid-list>
