.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tableContainer {
  flex-direction: row;
  max-width: 100%;
  width: 80%;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.wrapMenu {
  padding: 20px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.colorButton {
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  background-color: #395b50;
  /* background-color: #728f72b3; */
}

.colorButton:hover {
  background-color: #395b50cb;
  /* background-color: #728f72b3; */
}

.example-container {
  margin: 30px;
}

mat-form-field {
  padding: 5px;
}

.mat-column-description {
  flex: 0 0 300px;
}
.mat-column-requester {
  flex: 0 0 160px;
}
.mat-column-assignee {
  flex: 0 0 200px;
}

.rowColor:hover {
  background-color: rgba(241, 241, 241, 0.801);
  cursor: pointer;
}
