.section {
  width: 60%;
  margin-top: 30px;
}

.descContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.descForm {
  width: 90%;
  height: 80%;
  /* padding: 3px; */
}

.descField {
  width: 100%;
  height: 100%
}

.descArea {
  width: 100%;
  height: 100%;

  resize: none;
  text-align: left;
  overflow: auto;

}

.dateForm {
  width: 90%;
  height: 80%;
  /* padding: 3px; */
}

.dateField {
  width: 100%;
  height: 100%;
}

.dateArea {
  width: 100%;
  height: 100%;

  resize: none;
  text-align: left;
  overflow: auto;

}

.wrapDesc {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.descInput {
  height: 80%;
}

.tile-padding {
  padding-top: 250px;
}

.selectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.selectForm {
  width: 60%;
  height: 90%;
  padding: 5px;
  /* border: solid 1px gold; */
}

.selectField {
  padding-top: 6%;
  width: 100%;
  height: 60%;
  /* border: solid 1px black; */
}

.selectArea {
  width: 100%;
  height: 100%;

}

.buttonsMPwrap {
  width: 80%;
  height: 80%;
}

.buttonsMP {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}


.commetaryContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.spaceevenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

}

.commentaryForm {
  width: 60%;
  height: 90%;
  /* padding-top: 24%; */
}

.commentaryField {
  padding-top: 2%;
  width: 100%;
  height: 60%;
}

.commentaryArea {
  width: 100%;
  height: 100%;
}

.commentaryList {
  width: 58%;
}

.colorButton {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    background-color: #395b50;
}

.colorButtonRed {
  background-color: #b46f6f;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

.colorButton:hover {
  background-color: #395b50cb;
  /* background-color: #728f72b3; */
}

.colorButtonRed:hover {
  background-color: #b46f6fcb;
}
