<div class="descContent">
  <mat-grid-list class="section example-container mat-elevation-z8" [cols]="cols" [rowHeight]="rowHeight">

    <mat-grid-tile class="descContent" [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color">
      <div class="wrapDesc">
      <form class="descForm" [formGroup]="Description" (ngSubmit)="updateTicket()">
        <mat-form-field *ngIf="(isClosed() === false) && haveAccess()" class="descField">
          <textarea class="descArea" rows="6" matInput [(ngModel)]="ticket && ticket.description" ngModel matInput
            placeholder="Description:" formControlName="description"></textarea>
        </mat-form-field>
        <p *ngIf="!haveAccess()" class="descArea">No Access Rights for description Input</p>
        <p *ngIf="(isClosed() === true)" class="descArea">Description: {{ticket?.description}}</p>
      </form>

      <form class="dateForm" [formGroup]="Stickers" (ngSubmit)="updateTicket()">
        <mat-form-field *ngIf="(isClosed() === false) && haveAccess() && accessRights()" class="dateField">
          <input class="dateArea" matInput [matDatepicker]="picker" [(ngModel)]="ticket && ticket.deadline"
            ngModel formControlName="deadline" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <p *ngIf="(isClosed() === true) || !haveAccess() || !accessRights()" class="dateArea">{{(ticket?.deadline !== null) ? (ticket?.deadline | deadline) : ""}}</p>
      </form>

    </div>
    </mat-grid-tile>
    <mat-grid-tile class="selectContent tile-padding" [colspan]="tiles[1].cols" [rowspan]="tiles[1].rows" [style.background]="tiles[1].color">
      <form class="selectForm" [formGroup]="Stickers" (ngSubmit)="updateTicket()">
        <mat-form-field class="selectField">
          <mat-select class="selectArea" [disabled]="isClosed() || !isInTicket()" [(ngModel)]="ticket && ticket.Status.id" ngModel placeholder="{{defaultStatus}}"
            formControlName="StatusId">
            <mat-option *ngFor="let status of statuses" [value]="status?.id">
              {{ status?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-grid-tile>

    <mat-grid-tile class="selectContent tile-padding" [colspan]="tiles[2].cols" [rowspan]="tiles[2].rows" [style.background]="tiles[2].color">
      <form class="selectForm" [formGroup]="Stickers" (ngSubmit)="updateTicket()">
        <mat-form-field class="selectField">
          <mat-select class="selectArea" [disabled]="isClosed() || !isInTicket()" [(ngModel)]="ticket && ticket.Label.id" ngModel placeholder="Label"
            formControlName="LabelId">
            <mat-option *ngFor="let label of labels" [value]="label?.id">
              {{ label?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-grid-tile>

    <mat-grid-tile class="selectContent" [colspan]="tiles[3].cols" [rowspan]="tiles[3].rows" [style.background]="tiles[3].color">
      <form class="selectForm" [formGroup]="Members" (ngSubmit)="updateTicket()">
        <mat-form-field class="selectField">
          <mat-select class="selectArea" [disabled]="isClosed() || !isInTicket() || !accessRights()"
            placeholder="Requester" formControlName="RequesterId">
            <mat-option *ngFor="let member of members" [value]="member?.id">
              {{ member?.email }}
            </mat-option>
            <mat-option style="display: none" [value]="ticket?.requesterId.id">
              {{ ticket?.requesterId.email }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-grid-tile>

    <mat-grid-tile class="selectContent" [colspan]="tiles[4].cols" [rowspan]="tiles[4].rows" [style.background]="tiles[4].color">
      <form class="selectForm" [formGroup]="Members" (ngSubmit)="updateTicket()">
        <mat-form-field class="selectField">
          <mat-select class="selectArea" [disabled]="isClosed() || !isInTicket() || !accessRights()"
            placeholder="Assignee" formControlName="AssigneeId">
            <mat-option *ngFor="let member of members" [value]="member?.id">
              {{ member?.email }}
            </mat-option>
            <mat-option style="display: none" [value]="ticket?.assigneeId.id">
              {{ ticket?.assigneeId.email }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-grid-tile>

    <mat-grid-tile class="buttonsMPwrap" [colspan]="tiles[5].cols" [rowspan]="tiles[5].rows" [style.background]="tiles[5].color">
      <div class="buttonsMP">
        <button [disabled]="isClosed() || !isInTicket()" type="submit" mat-raised-button color="primary" (click)="updateTicket()" class="colorButton">Save Changes</button>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="buttonsMPwrap" [colspan]="tiles[6].cols" [rowspan]="tiles[6].rows" [style.background]="tiles[6].color">
      <div>
        <button [disabled]="isClosed() || !isInTicket()" mat-raised-button color="primary" (click)="departicipate()" class="colorButtonRed">Leave</button>
        <button [disabled]="isClosed() || isInTicket()" mat-raised-button color="primary" (click)="participate()" class="colorButton">Participate</button>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="selectContent" [colspan]="tiles[7].cols" [rowspan]="tiles[7].rows" [style.background]="tiles[7].color">
      <div class="spaceevenly">
        <form *ngIf="(isClosed() === false) && haveAccess()" class="commentaryForm" [formGroup]="Comment" (ngSubmit)="commentTicket()">
          <mat-form-field class="commentaryField">
            <input class="commentaryArea" [(ngModel)]="commentary" ngModel formControlName="content"
            matInput placeholder="Comment" required>
          </mat-form-field>
        </form>
        <div *ngIf="!haveAccess()">
          <p class="commentaryArea">No Access Rights for comment Input</p>
        </div>
        <div *ngIf="isClosed() === true">
          <p class="commentaryArea">No Access Rights for comment Input</p>
        </div>
        <button [disabled]="isClosed() || !isInTicket()" mat-raised-button color="primary" (click)="commentTicket()" class="colorButton">POST</button>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
<div class="">
  <app-commentary-list class="" [commentsList]="comments"></app-commentary-list>
</div>
<snack-bar-component [message]="invalidMessage"></snack-bar-component>
