<div class="container centerTheBox">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp" class="one" fxFlexFill>
    <div fxFlex fxFlex="70" fxFlexAlign="center" class="two">

      <form [formGroup]="Description" (ngSubmit)="updateTicket()">
        <textarea [attr.disabled]="isClosed()" [(ngModel)]="ticket && ticket.description" ngModel class="list-container description" matInput placeholder="Description:" formControlName="description">

        </textarea>
      </form>
    </div>

    <div fxFlex fxFlex="30" class="three">
      <form [formGroup]="Stickers" (ngSubmit)="updateTicket()">
        <mat-list class="formFrame centerDiv">
        <mat-list-item>
            <mat-select [disabled]="isClosed()" [(ngModel)]="ticket && ticket.Status.id" ngModel placeholder="{{defaultStatus}}" formControlName="StatusId">
              <!-- <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled"> -->
                <mat-option *ngFor="let status of statuses" [value]="status?.id">
                  {{ status?.name }}
                </mat-option>
              <!-- </mat-optgroup> -->
            </mat-select>
          </mat-list-item>

          <mat-list-item>
              <mat-select [disabled]="isClosed()" [(ngModel)]="ticket && ticket.Label.id" ngModel placeholder="Label" formControlName="LabelId">
                  <mat-option *ngFor="let label of labels" [value]="label?.id">
                    {{ label?.name }}
                  </mat-option>
                </mat-select>
            </mat-list-item>
        </mat-list>
      </form>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp" class="one" fxFlexFill>
    <div fxFlex fxFlex="70" fxFlexAlign="center" class="two">
        <form [formGroup]="Stickers" (ngSubmit)="updateTicket()">
      <mat-list class="formFrame centerDiv status">
            <mat-list-item>
                <input [attr.disabled]="isClosed() || !accessRights() ? 'disabled' : null" [(ngModel)]="ticket && ticket.deadline" ngModel placeholder="Deadline" formControlName="deadline">
                <!-- <p>
                    <mat-form-field>
                      <input matInput [matDatepicker]="dp3" placeholder="Input disabled" disabled>
                      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </p> -->
              </mat-list-item>
        </mat-list>
</form>

<form [formGroup]="Members" (ngSubmit)="updateTicket()">
            <mat-list-item class="requesterAndassignee">
                <mat-select [disabled]="isClosed() || !accessRights()" [(ngModel)]="ticket && ticket.requesterId.id" ngModel placeholder="Requester" formControlName="RequesterId">
                    <mat-option *ngFor="let member of members" [value]="member?.id">
                      {{ member?.email }}
                    </mat-option>
                </mat-select>
              </mat-list-item>

              <mat-list-item class="requesterAndassignee">
                  <mat-select [disabled]="isClosed() || !accessRights()" [(ngModel)]="ticket && ticket.assigneeId.id" ngModel placeholder="Assignee" formControlName="AssigneeId">
                    <mat-option *ngFor="let member of members" [value]="member?.id">
                      {{ member?.email }}
                    </mat-option>
                  </mat-select>
                </mat-list-item>
              </form>
              </div>

    <div fxFlex fxFlex="30" class="three">Empty space
      <button [disabled]="isClosed()" type="submit" (click)="updateTicket()">SEND</button>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp" class="one" fxFlexFill>
    <div fxFlex fxFlex="100" fxFlexAlign="center" class="two">
      <app-commentary-list [commentsList]="comments"></app-commentary-list>
      <mat-list-item class="comment centerDiv">
        <form [formGroup]="Comment" (ngSubmit)="commentTicket()">
          <input [attr.disabled]="isClosed() ? 'disabled' : null" [(ngModel)]="commentary" ngModel formControlName="content" matInput placeholder="Comment" required>
        </form>
      </mat-list-item>
          <button [disabled]="isClosed()" mat-raised-button color="primary" (click)="commentTicket()" class="post">POST</button>


      <!-- <mat-list class="centerDiv">
        <mat-list-item>
          <div class="commentsSection centerDiv">
            <h3>Some text...</h3>
          </div>
        </mat-list-item>

        <div class="centerDiv">
          <form [formGroup]="Comment" (ngSubmit)="commentTicket()">
          <mat-list-item class="comment centerDiv">

            <input [(ngModel)]="" ngModel formControlName="content" matInput placeholder="Comment" required>
          </form>
            <button mat-raised-button color="primary" class="post">POST</button>
                  </mat-list-item>

                <mat-list-item class="comment">
                  </mat-list-item>
              </div>
        </mat-list> -->
    </div>
  </div>
</div>
