.cards-container {
  display: talbe;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-wrapper {
  display: table-row;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-holder {
  margin: 0.25%;
}
