.container {
  display: block;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 958px) {
  .container {
    width: 60%;
    margin-left: 20%;
  }
}

button:hover {
  background-color: lightskyblue;
}

mat-form-field {
  display: block;
}

.small-text {
  font-size: 70%;
  font-style: italic;
}

.title {
  font-size: 140%;
  font-weight: bold;
}


