<div *ngIf="userLoggedIn" class="container">
  <div>
    <!-- <button *ngIf="!enableButtons()" disabled mat-raised-button>{{team?.name}}'s Tickets</button> -->
    <button [disabled]="!enableButtons()" mat-raised-button (click)="navToTeamTickets()" >{{team?.name}}'s Tickets</button>

    <!-- <button *ngIf="enableButtons()" mat-raised-button>Create a Ticket</button> -->
    <button [disabled]="!enableButtons()" mat-raised-button (click)="navToCreateTicket()">Create a Ticket</button>
  </div>

  <div>
    <!-- <button mat-raised-button (click)="leaveTeam()">Leave Team</button> -->
    <!-- <button *ngIf="!enableButtons()" mat-raised-button disabled>Leave Team</button> -->
    <button [disabled]="!enableButtons()" mat-raised-button (click)="leaveTeam()">Leave Team</button>
  </div>

  <mat-grid-list [cols]="columnNum" [rowHeight]="rowHeightRatio">
    <mat-grid-tile>
      <span>Team Name:
        <b>{{team?.name}}</b>
      </span>
    </mat-grid-tile>
    <mat-grid-tile>
      <span>Description: {{team?.description}}</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <span>Company: {{team?.Company?.name}}</span>
    </mat-grid-tile>
    <mat-grid-tile (click)="navToUser(team?.teamLeaderId?.id)">
      <span>
        Team Leader: {{team?.teamLeaderId?.firstName}} {{team?.teamLeaderId?.lastName}}
      </span>
    </mat-grid-tile>
  </mat-grid-list>

  <h3>{{team?.name}}'s Members:</h3>

  <mat-grid-list [cols]="columnNum" [rowHeight]="rowHeightRatio">
    <div *ngFor="let member of team?.Users">
      <mat-grid-tile (click)="navToUser(member?.id)">
        <div>
          {{member.firstName}} {{member.lastName}}
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>

  <!-- <button *ngIf="!selected" mat-raised-button disabled type="submit">Invite Members</button> -->
  <button [disabled]="!selected" #invite mat-raised-button type="submit" (click)="inviteSelectedMember(selectedUser)">Invite Members</button>

  <!-- <input #inp matInput placeholder="Search" (input)="onSearch()" [(ngModel)]="search"> -->
  <!-- <input *ngIf="!enableButtons()" disabled matInput placeholder="Search"> -->
  <input id="searchInput" #inp matInput placeholder="Search" (input)="onSearch(inp.value)" [(ngModel)]="search">

  <!-- <button mat-raised-button (click)="clearFilter()">Clear Search</button> -->
  <!-- <button *ngIf="!enableButtons()" mat-raised-button disabled (click)="clearFilter()">Clear Search</button> -->
  <button [disabled]="!enableButtons()" mat-raised-button (click)="clearFilter()">Clear Search</button>
  <div *ngIf="enableButtons()">
    <span *ngIf="!selected">
      <span *ngFor="let newMember of filteredUsers">
        <button *appMyNgIf="inp.value.length" class="available-members" (click)="selectMember(newMember, invite)">{{newMember?.firstName}} {{newMember?.lastName}}</button>
      </span>
    </span>
    <!-- <div *ngIf="enableButtons()">
      <span *appMyNgIf="inp.value.length" class="available-members" (click)="selectMember(newMember, invite)" appBold>{{newMember?.firstName}} {{newMember?.lastName}}</span>
    </div> -->
  </div>
  <div *ngIf="selected">
    <span *ngIf="enableButtons()">
      <button *appMyNgIf="inp.value.length" class="available-members">{{selectedMember?.firstName}} {{selectedMember?.lastName}}</button>
    </span>
  </div>
  <button *ngIf="isLoggedUserTeamLeader()" mat-raised-button (click)="generateUserList()">Select New Team Leader</button>
  <div *ngIf="generateCompanyUsersList">
    <span *ngFor="let user of companyUsers">
      <button (click)="promoteUser(user?.id)">{{user?.firstName}} {{user?.lastName}}</button>
    </span>
  </div>
</div>

<div *ngIf="!userLoggedIn" class="container">
  <h1>You are not a member of this team.</h1>
</div>
