.menu a:not(.logo):not(.hammenu) {
  text-decoration: none;
  background-color: #88ca88b6;
  /* border: solid 1px; */
  border-radius: 2px;
  padding: 10px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;


}

.logo {
  text-decoration: none;
  padding: 8px;
  color: white;
  font-family: 'Quicksand', sans-serif;

}

.logo p {
  display: inline-block;
  font-size: 16px;
}

.user > p {
  display: inline-block;
  font-size: 14px;
}

.close {
  flex-direction: column;
  display: flex;
  margin: 3px;

}

.func {
  display: flex;
  flex-direction: column;

  margin: 3px;
}

.profileLogout {
  display: flex;
  flex-direction: column;

  margin: 3px;
}

.menu a:hover:not(.logo):not(.hammenu) {
  /* border: solid 1px; */
  border-color: #395b50;
  background-color: white;
  color: #395b50;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-sidenav {
  width: 28%;
}

.mat-sidenav-container {
  background-color: rgba(0, 195, 255, 0.534);
}

.mat-sidenav-content {
  background-color: #bfd2bf;
}

.mat-toolbar {
  background-color: #395b50;
}

.sideColumnColor {
  background-color: #395b50;
}

.colorButton {
  background-color: #88ca88de;
}
