.container {
  display: block;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 958px) {
  .container {
    width: 60%;
    margin-left: 20%;
  }
}

.welcome-msg {
  font-size: 200%;
  font-weight: bolder;
}

.company-name {
  font-size: 150%;
  font-weight: 400;
}

.homepage-text {
  font-size: 120%;
  font-style: italic;
}

.users-count, .tickets-count {
  font-size: 150%;
  font-weight: 400;
}



