

mat-grid-tile {
  /* margin: 5px; */
  /* background: whitesmoke; */
  /* border: 1px solid white; */
  /* border-radius: 10px; */
}

.in-tile {
  width: 90%;
  height: 90%;
  background-color: tan;
}

